<div class="my-4 container">
    <div class="d-flex justify-content-between">
        <h3>Danh Sách Phim</h3>
        <a href="/admin/create" type="button" class="btn btn-secondary me-5">Thêm phim mới</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Phim</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Thể Loại</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Black Adam</td>
                <td>
                    <img
                        src="https://baocantho.com.vn/image/news/2022/20220721/thumbnail/470x300/1658407009.jpg"
                        class="w-25 h-25"
                        alt=""
                    />
                </td>
                <td>Viễn Tưởng</td>
                <td><a href="/admin/edit" class="btn btn-secondary">Sửa</a></td>
                <td>
                    <a href="" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Xóa</a>
                </td>
            </tr>
            <tr>
                <th>1</th>
                <td>Black Adam</td>
                <td>
                    <img
                        src="https://baocantho.com.vn/image/news/2022/20220721/thumbnail/470x300/1658407009.jpg"
                        class="w-25 h-25"
                        alt=""
                    />
                </td>
                <td>Viễn Tưởng</td>
                <td><a href="/admin/edit" class="btn btn-secondary">Sửa</a></td>
                <td>
                    <a href="" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa Phim</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Bạn chắc chắn muốn xóa phim này?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                <button id="btn-delete-course" type="button" class="btn btn-danger">Có</button>
            </div>
        </div>
    </div>
</div>
